{% extends 'base_front.html.twig' %}

{% block title %}Nouvelle Commande{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="btn-secondary  text-center">
                <h2>Créer une nouvelle commande</h2>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    {{ include('commande/_form.html.twig') }}
                </div>
            </div>
            <div class="card-footer  ">
                <a href="{{ path('app_front_office_cart') }}" class="btn btn-secondary">🛒 Retour au panier</a>
            </div>
        </div>
    </div>
    
       {{ '&nbsp;&nbsp;&nbsp;'|raw }}
{% endblock %}
