{% extends 'base_front.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block body %}
 <div class="d-flex justify-content mt-3">
        <a href="{{ path('app_front_office_cart') }}" class="btn btn me-2">
            Retour au panier
        </a>
        
    </div>
    <h1 class="text-center">Créer une nouvelle commande</h1>

    <div class="d-flex justify-content-center">
        {{ include('commande/_form.html.twig') }}
    </div>

   

{% endblock %}
