{% extends 'base_front.html.twig' %}

{% block title %}Hello FrontOffice/CheckoutController!{% endblock %}

{% block body %}
  <h1>Finaliser la commande</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Valider la commande</button>
    {{ form_end(form) }}
</div>
{% endblock %}
