{% extends 'base.html.twig' %}

{% block title %}Commande Validée{% endblock %}

{% block body %}
    <h1>Merci pour votre commande !</h1>
    <p>Votre commande a été enregistrée avec succès.</p>
    <a href="{{ path('app_front_office_checkout') }}">Passer une nouvelle commande</a>
{% endblock %}
